{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="about">
        <div class="about-section1">
            <div id='about-shape1' class="desktop"></div>
            <div id='about-shape2' class="desktop"></div>
            <p>{% trans 'PyCon Canada is an initiative to strengthen the Canadian Python community.' %}</p>
            <button class="book-ticket">{% trans 'Book Your Ticket' %}</button>
        </div>
        <div class="about-section2">
            <div id='about-shape3'></div>
            <div id='about-shape4' class="desktop"></div>
            <div class="grid ">
                <div class="blurb-1 col-7">
                    <h3>{% trans 'What is PyCon Canada?' %}</h3>

                    <p>
                        {% blocktrans %}
                            Our main goal is to strengthen the Canadian
                            Python community by providing more opportunities
                            for us to share knowledge and ideas, encourage
                            support and education for speaking at conferences,
                            and increase the visibility of developers, organizations,
                            and companies within the community
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="blurb-2 col-7">
                    <p>
                        {% blocktrans %}
                            PyCon Canada is entirely run by volunteers
                            who are passionate about these goals.
                            We hope to see you at the 2015 conference!
                            We're also proud to host development sprints
                            which provide a gateway for new contributors
                            and a way for you to give back to the open-source community.
                        {% endblocktrans %}
                </div>
            </div>
        </div>
        <div class="about-section3">
            <div id='about-shape5'></div>
            <div id='about-shape6'></div>
            <div id='about-shape7'></div>
            <div class="col-5">
                <h3>{% trans 'Join the conversation' %}</h3>

                <p>{% trans 'Be sure to use #pyconca2015. We love hearing from our community members!' %}</p>

                <h3>{% trans 'Key Contacts' %}</h3>

                <p>{% trans 'The majority of our discussion occurs on the mailing list <b>pyconca@googlegroups.com</b>.' %}</p>

                <p>{% trans 'The organizing committee can be contacted privately at <b>organizers@pycon.ca</b>' %}</p>

                <p>{% trans 'The board can be contacted privately at <b>board@pycon.ca.</b>.' %}</p>

                <p>{% trans 'The majority of our discussion occurs on the mailing list <b>pyconca@googlegroups.com</b>.' %}</p>

                <p>{% trans 'You can also find us on:' %}<br><a href="github.com/pyconca">github.com/pyconca</a></p>
            </div>

            <div class="col-5 twitter-feed">

            </div>
        </div>
        <div class="about-section4">
            <div id='about-shape8' class="desktop"></div>
            <div id='about-shape9' class="desktop"></div>
            <div id='about-shape10' class="desktop"></div>
            <h2>{% trans 'The Team' %}</h2>
            <ul class="names">
                {% for volunteer in volunteers %}
                    {% if volunteer.url %}
                        <li>
                            <a class="volunteer-url" href="{{ volunteer.url }}">{{ volunteer.name }}</a>
                        </li>
                    {% else %}
                        <li>{{ volunteer.name }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="about-section5">
            <div id='about-shape11'></div>
            {% include 'include/sponsors.html' %}
        </div>
    </div>
{% endblock %}
