{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="home-section1">
        <div class="container lead">
            <p>{% trans 'Join your fellow Pythonistas for a weekend of' %}</p>

            <p>{% trans 'talks, activities, fun and code!' %}</p>
        </div>
    </div>
    <div class="home-section2">
        <div class='dates-box'>
            <span class='dates-inner'>
                <div id='home-shape3' class='home-dates-shape'></div>
                <p>{% trans 'Conference:' %} <span class='dates'>{% trans 'November 7-8, 2015' %}</span></p>
                <p>{% trans 'Sprints:' %} <span class='dates'>{% trans 'November 9, 2015' %}</span></p>
                <p>{% trans 'Toronto, Ontario' %}</p>
            </span>
        </div>
    </div>
    <div class="home-section3">
        <div>
            <div id='home-shape4'></div>
            {% include 'include/book_now.html' %}
        </div>
        <div class='home-social_container'>
            <div id='home-shape5'></div>
            <div class='home-social'>
                <a class='twitter' href="https://twitter.com/pyconca">Twitter</a>
                <a class='facebook' href="https://www.facebook.com/pyconca">Facebook</a>
            </div>
        </div>
    </div>
    <div class="home-section4">
    <div class="container">
        <div class="grid">
            <div class="col-6 schedule-col">
                <div class="grid">
                    <div class="col-2 icon">
                        <img src="{% static "images/02-Calendar.svg" %}">
                    </div>
                    <div class="col-10 txt">
                        <h2>{% trans 'Schedule' %}</h2>

                        <p>{% trans 'Start the fun Friday evening with a mix and mingle. Feed your brain at talks on Saturday, and if your sprint team is eager, you can start that night. Sprint or attend talks and tutorials on Sunday.' %}</p>
                        <a href="" class="more-info">{% trans 'more info' %}</a>
                    </div>
                </div>
            </div>
            <div class="col-5 venue-col">
                <div class="grid">
                    <div class="col-2 icon">
                        <img src="{% static "images/03-Location.svg" %}">
                    </div>
                    <div class="col-10 txt">

                        <h2>{% trans 'Venue' %}</h2>

                        <p>{% trans 'The event will be held at the Bahen Center for Information Technology, graciously provided by the university of Toronto. With subways access a short walk away you can easily explore the city.' %}</p>
                        <a href="" class="more-info">{% trans 'more info' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-section5">
        {% include 'include/sponsors.html' %}
    </div>
{% endblock %}
