{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Welcome!' %}{% endblock %}
{% block content %}
    <div class="home-section1">
        <div class="container lead">
            <p>{% trans 'Join your fellow Pythonistas for the third annual PyCon Canada,' %}</p>
            <p>{% trans 'a weekend of talks, activities, fun and code!' %}</p>
        </div>
    </div>
    <div class="home-section2">
        <div class='dates-box'>
            <span class='dates-inner'>
                <div id='home-shape3' class='home-dates-shape'></div>
                <p>{% trans 'Conference:' %} <span class='dates'>{% trans 'November 7-8, 2015' %}</span></p>
                <p>{% trans 'Sprints:' %} <span class='dates'>{% trans 'November 9, 2015' %}</span></p>
                <p>{% trans 'Toronto, Ontario' %}</p>
            </span>
        </div>
    </div>
    <div class="home-section3">
        <div class="home-book-now">
            <div id='home-shape4'></div>
            <div class="home-book-now-inner">
                <div class="sold-out">Sold Out</div>
                {% include 'include/book_now.html' %}
            </div>
        </div>
        <div class='home-social_container'>
            <div id='home-shape5'></div>
            <div class='home-social'>
                <a class='twitter' href="https://twitter.com/pyconca" target="_blank">Twitter</a>
                <a class='facebook' href="https://www.facebook.com/pyconca" target="_blank">Facebook</a>
            </div>
        </div>
    </div>
    <div class="home-section4">
    <div class="container">
        <div class="grid">
            <div class="col-6 schedule-col">
                <div class="grid">
                    <div class="col-2 icon">
                        <img src="{% static "images/02-Calendar.svg" %}">
                    </div>
                    <div class="col-10 txt">
                        <h2><a href="{% url 'schedule' %}">{% trans 'Schedule' %}</a></h2>

                        <p>{% trans 'Find out about the Saturday and Sunday keynotes, over 40 talks, tutorials and sprints.' %}</p>
                        <a href="{% url 'schedule' %}" class="more-info">{% trans 'Learn more...' %}</a>
                    </div>
                </div>
            </div>
            <div class="col-5 venue-col">
                <div class="grid">
                    <div class="col-2 icon">
                        <img src="{% static "images/03-Location.svg" %}">
                    </div>
                    <div class="col-10 txt">

                        <h2><a href="{% url 'venue' %}">{% trans 'Venue' %}</a></h2>

                        <p>{% trans 'The event will be held at the Bahen Center for Information Technology, graciously provided by the University of Toronto. With subways access a short walk away you can easily explore the city.' %}</p>
                        <a href="{% url 'venue' %}" class="more-info">{% trans 'Learn more...' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-section5">
        {% include 'include/sponsors.html' %}
    </div>
{% endblock %}
