#-------------------------------------------------------------------------------
# General
#-------------------------------------------------------------------------------

*.pyc
.coverage
.DS_Store

pycon/localsettings.py
static/css/app.css

#-------------------------------------------------------------------------------
# JetBrains
#-------------------------------------------------------------------------------

.idea
