#-------------------------------------------------------------------------------
# General
#-------------------------------------------------------------------------------

*.pyc
.coverage
.DS_Store
node_modules

pycon/localsettings.py
static/css/app.css

#-------------------------------------------------------------------------------
# JetBrains
#-------------------------------------------------------------------------------

.idea
