import os
import json
import socket

PROJECT_ROOT = os.path.dirname(os.path.dirname(__file__))

SITE_DOMAIN = socket.getfqdn()
SITE_SCHEME = '{% if fqdn == "2015.pycon.ca" or fqdn == "testing.2015.pycon.ca" %}https{% else %}http{% endif %}'

MEDIA_ROOT = '{{ media_dir }}/'
STATIC_ROOT = '{{ static_dir }}/'

ADMINS = (
    ('David Hoffman', 'me@davidhoffman.ca'),
    ('Myles Braithwaite', 'me@mylesbraithwaite.com'),
)

ALLOWED_HOSTS = [
    '.{{ fqdn }}',
]

SESSION_COOKIE_DOMAIN = '.{{ fqdn }}'

SECRET_KEY = '{{ secret_key }}'

MEDUSA_RENDERER_CLASS = "django_medusa.renderers.DiskStaticSiteRenderer"
MEDUSA_MULTITHREAD = True
MEDUSA_DEPLOY_DIR = '{{ htdocs_dir }}/'

#-------------------------------------------------------------------------------

DEBUG = TEMPLATE_DEBUG = False
