<td class="slot slot-{{ slot.kind.label }}" colspan="{{ slot.colspan }}" rowspan="{{ slot.rowspan }}">
    {% if slot.kind.label == "talk" or slot.kind.label == "tutorial" %}
        {% if not slot.content %}
        {% if user.is_authenticated %}
        <small class="admin_link">
            (<a href="{% url 'admin:schedule_presentation_add' %}?slot={{ slot.pk }}">Add Presentation</a>)
        </small>
        {% endif %}
        {% else %}
            <span class="title">
                <a href="{{ slot.content.get_absolute_url }}">{{ slot.content.title }}</a>
            </span>
            <span class="speaker">
                {{ slot.content.speakers|join:", " }}
            </span>
            {% if user.is_authenticated %}
            <small class="admin_link">
                (<a href="{% url 'admin:schedule_presentation_change' slot.content.pk %}">Edit Presentation</a>)
            </small>
            {% endif %}
        {% endif %}
    {% else %}
        {% if slot.content_override %}
            {{ slot.content_override|safe }}
        {% else %}
            {{ slot.kind.label }}
        {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
    <small class="admin_link">
        (<a href="{% url 'admin:schedule_slot_change' slot.pk %}">Edit Slot</a>)
    </small>
    {% endif %}
</td>