{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>{{ p.name }} <em>with {% for speaker in p.speakers %}{{ speaker }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}{% endfor %}</em></h1>
        
        <p><strong>Date</strong>: {{ p.slot.start_datetime|date:"l" }} at {{ p.slot.start_datetime|date:"P" }} to {{ p.slot.end_datetime|date:"P" }}</p>
        
        <p><strong>Room</strong>: {{ p.slot.rooms|first }}</p>
        
        {{ p.description|linebreaks }}
        
        {% for speaker in p.speakers %}
        <h2>{{ speaker }} Bio</h2>
        
        {{ speaker.bio|linebreaks }}
        {% endfor %}
    </div>
{% endblock %}
