{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Schedule' %}{% endblock %}
{% block content %}

    <div class="container schedule">
    {% for timetable in days %}
        <div class="day day-{{ timetable.day.date|date:"o-m-d" }}">
            <h3>{{ timetable.day.date|date:"l j F, Y" }}</h3>
            {% include "schedule/_grid.html" %}
        </div>
    {% endfor %}
        <div class="grid day day-2015-11-09">
            <div class="col-6">
                <h3>Monday 9 November, 2015</h3>
                
                <p><a href="https://github.com/pyconca/2015-wiki/wiki/Sprints">Development Sprints</a></p>
                
                <p>PyCon Development Sprints are two days of intensive learning and development on an open source project of your choice, in a team environment. It's a time to come together with colleagues, old and new, to share what you've learned and apply it to an open source project.</p>

                <p>PyCon provides the space and infrastructure (network, power, tables & chairs); you bring your skills, humanity, and brainpower (oh! and don't forget your computer).</p>
            </div>
        </div>
    </div>
{% endblock %}