/* -----------------------------------------------------------------------------
    grid
----------------------------------------------------------------------------- */

.container {
    margin: 0 auto;
    padding: 20px;
    width: @site-width;
}

.grid {
    margin: -5px -10px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    .inline-block();
    padding: 5px 10px;
}

.col-1 { width: 100% * 1/12; }
.col-2 { width: 100% * 2/12; }
.col-3 { width: 100% * 3/12; }
.col-4 { width: 100% * 4/12; }
.col-5 { width: 100% * 5/12; }
.col-6 { width: 100% * 6/12; }
.col-7 { width: 100% * 7/12; }
.col-8 { width: 100% * 8/12; }
.col-9 { width: 100% * 9/12; }
.col-10 { width: 100% * 10/12; }
.col-11 { width: 100% * 11/12; }
.col-12 { width: 100% * 12/12; }
