/* -----------------------------------------------------------------------------
    font variables
----------------------------------------------------------------------------- */

/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
    font-family: 'MuseoSans';
    src: url('/static/fonts/MuseoSans_500.otf');
  }

@font-family: 'MuseoSans';

@font-weight-normal:    400;
@font-weight-bold:      600;

@font-weight-bold: 700;

/* -----------------------------------------------------------------------------
    colors
----------------------------------------------------------------------------- */

@color-accent1:         #ffffff;
@color-accent2:         #249cd7;
@color-accent3:         #f39994;
@color-accent4:         #94f3e1;
@color-accent5:         #f3f094;
@color-accent6:         #ee6d66;

/* -----------------------------------------------------------------------------
    other variables
----------------------------------------------------------------------------- */

@site-width:            1024px;
@nav-width:             200px;
@border-radius:         3px;
