{% load i18n %}
<footer>
    <div class="container">
        <div id='footer-shape1'></div>
        <div id='footer-shape2'></div>
        <div class="grid">

            <div class="footer-left footer-links col-3">
                <a href="#">{% trans 'Home' %}</a>
                <a href="#">{% trans 'About' %}</a>
                <a href="{% url 'sponsor' %}">{% trans 'Sponsors' %}</a>
                <a href="{% url 'venue' %}">{% trans 'Venue' %}</a>
            </div>

            <div class="footer-middle col-6">

                <form class="join-form" action="{% url 'mailing_list' %}" method="post" class="panel">
                    <p>{% trans 'Keep up with PyCon Canada' %}</p>
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                    <div>
                        {{ mailing_form.name }}
                        {% for error in mailing_form.name.errors %}
                            <div class="error-block">{{ error|safe }}</div>
                        {% endfor %}
                    </div>
                    <div>
                        {{ mailing_form.email }}
                        {% for error in mailing_form.email.errors %}
                            <div class="error-block">{{ error|safe }}</div>
                        {% endfor %}
                    </div>
                    <button class="button mailing-list-button">{% trans 'Join the mailing list' %}</button>
                </form>
            </div>

            <div class="footer-right col-3">
                <div class="social-container">
                    <a class='twitter' href="https://twitter.com/pyconca">Twitter</a>
                    <a class='facebook' href="https://www.facebook.com/pyconca">Facebook</a>
                </div>
                    <a class="conduct" href="">{% trans 'Code of Conduct' %}</a>
                <span class="footer-copyright">&copy; Pycon Canada 2015</span>
            </div>
        </div>

    </div>

</footer>
