{% load i18n %}
<footer>
    <div class="container">
        {% load i18n %}
        <div class="footer-links">
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <div class="newsletter">
            <p>{% trans 'Stay up-to-date with PyCon Canada' %}</p>

            <form action="{% url 'mailing_list' %}" method="post" class="panel">
                <div class="panel-body">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                    <div class="form-field{% if field.errors %} error{% endif %}">
                        {{ mailing_form.name.label_tag|safe }}
                        {{ mailing_form.name }}
                        {% for error in mailing_form.name.errors %}
                            <span class="error-block">{{ error|safe }}</span>
                        {% endfor %}
                        {{ mailing_form.email.label_tag|safe }}
                        {{ mailing_form.email }}
                        {% for error in mailing_form.email.errors %}
                            <span class="error-block">{{ error|safe }}</span>
                        {% endfor %}
                    </div>
                    <button class="button button-primary">{% trans 'Join the mailing list' %}</button>
                </div>
            </form>

        </div>
        <div>
            <a class='Twitter' href="https://twitter.com/pyconca">Twitter</a>
            <a class='Facebook' href="https://www.facebook.com/pyconca">Facebook</a>
            <a class="conduct" href="">{% trans 'Code of Conduct' %}</a>
            <span class="footer-copyright">&copy; Pycon Canada 2015</span>
        </div>
    </div>
</footer>
