{% load i18n %}
<footer>
    <div class="container">
        <div id='footer-shape1'></div>
        <div id='footer-shape2'></div>
        <div class="grid">

            <div class="footer-left footer-links col-3">
                <a href="{% url 'home' %}">{% trans 'Home' %}</a>
                <a href="{% url 'about' %}">{% trans 'About' %}</a>
                <a href="{% url 'sponsor' %}">{% trans 'Sponsors' %}</a>
                <a href="{% url 'venue' %}">{% trans 'Venue' %}</a>
            </div>

            <div class="footer-middle col-6">

                <form class="join-form panel" action="http://pycon.us11.list-manage2.com/subscribe/post" method="POST">
                    <p>{% trans 'Keep up with PyCon Canada' %}</p>


                    <input type="hidden" name="u" value="5cc0d84ff77b9bb778875c680">
                    <input type="hidden" name="id" value="8b0e3e430f">

                    <div id="mergeTable" class="mergeTable">
                        <div id="mergeRow-0">
                            <input class='email-input' type='email' autocapitalize='off' autocorrect='off' name='MERGE0' id='MERGE0' size='25' value='' placeholder='{% trans 'Email' %}'>
                        </div>
                    </div>
                    <button class="button mailing-list-button">{% trans 'Join the mailing list' %}</button>
                </form>
            </div>

            <div class="footer-right col-3">
                <div class="social-container">
                    <a class='twitter' href="https://twitter.com/pyconca">Twitter</a>
                    <a class='facebook' href="https://www.facebook.com/pyconca">Facebook</a>
                </div>
                <a class="conduct" href="{% url 'conduct' %}">{% trans 'Code of Conduct' %}</a>
                <span class="footer-copyright">&copy; PyCon Canada 2015</span>
            </div>
        </div>

    </div>

</footer>
