{% load i18n %}
{% load core %}
<header>
    <div id='header-shape1'></div>
    <div class="language-switch-container">
        {% if LANGUAGE_CODE == 'en' %}
            <a class="language-switch" href="{% lang_url 'fr' %}">Fran&ccedil;ais</a>
        {% else %}
            <a class="language-switch" href="{% lang_url 'en' %}">English</a>
        {% endif %}
    </div>
    <div class="container">
        <div class="nav">
            <a href="#" class="header-link">{% trans 'About' %}</a>
            <a href="{% url 'sponsor' %}" class="header-link">{% trans 'Sponsors' %}</a>
            <a href="{% url 'home' %}" class="header-logo">Pycon Canada</a>
            <a href="#" class="header-link">{% trans 'Schedule' %}</a>
            <a href="#" class="header-link">{% trans 'Venue' %}</a>
        </div>
    </div>
</header>
