/* -----------------------------------------------------------------------------
    base styles
----------------------------------------------------------------------------- */
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/globals';

html, body {
    .box-sizing();

    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    min-width: @site-width;
}

*, *:after, *:before {
    box-sizing: inherit;
    font-family: inherit;
    line-height: inherit;
}

* {
    margin: 0;
    padding: 0;
}

.button {
    .border-radius(25px);
    margin: 24px 0;
    border: 1px solid @color-accent2;
    color: @color-accent2;
    background-color: @color-accent1;
    min-width: 150px;
    font-size: 16px;
    line-height: 23px;
}

/* -----------------------------------------------------------------------------
    message styles
----------------------------------------------------------------------------- */

@message-bg: #eee;
@message-border: #999;
@message-color: #333;

@message-bg-info: lighten(@color-accent1, 30%);
@message-border-info: @color-accent1;
@message-color-info: darken(@color-accent1, 40%);

@message-bg-success: lighten(@color-accent2, 30%);
@message-border-success: @color-accent2;
@message-color-success: darken(@color-accent2, 40%);

@message-bg-warning: lighten(@color-accent3, 30%);
@message-border-warning: @color-accent3;
@message-color-warning: darken(@color-accent3, 40%);

@message-bg-error: lighten(@color-accent4, 30%);
@message-border-error: @color-accent4;
@message-color-error: darken(@color-accent4, 40%);

.message-list {
    list-style-type: none;
    margin: 0;
}

.message {
    .border-radius(@border-radius);

    background-color: @message-bg;
    border-left: 5px solid @message-border;
    color: @message-color;
    margin: 0 0 15px 0;
    padding: 15px;

    > .icon-cancel {
        .inline-block();
        cursor: pointer;
        margin: -5px;
        padding: 5px;
    }
}

.message-info {
    background-color: @message-bg-info;
    border-color: @message-border-info;
    color: @message-color-info;
}

.message-success {
    background-color: @message-bg-success;
    border-color: @message-border-success;
    color: @message-color-success;
}

.message-warning {
    background-color: @message-bg-warning;
    border-color: @message-border-warning;
    color: @message-color-warning;
}

.message-error {
    background-color: @message-bg-error;
    border-color: @message-border-error;
    color: @message-color-error;
}

/* -----------------------------------------------------------------------------
    header styles
----------------------------------------------------------------------------- */

header {
    background-color: @color-accent1;
}

header > .container {
    padding-top: 0;
    padding-bottom: 0;
}

.nav {
    margin-top: 10px;
    text-align: center;
}

.header-link {
    font-size: 24px;
    padding: 0 2%;
    vertical-align: bottom;
    line-height: 60px;

    &:hover, &.active {
        color: @color-accent3;
    }
}

.header-logo {
    text-indent: -9999px;
    width: 234px;
    height: 98px;
    background-size: 234px 98px;
    background: url("/static/images/logo.png") no-repeat;
    display: inline-block;
    margin: 0 10% 0 10%;
}

.language-switch {
    .button;
    float: right;
    text-align: center;
}

/* -----------------------------------------------------------------------------
    home styles
----------------------------------------------------------------------------- */

.home {
    text-align: center;
}

.home-section1 {
    .home;
    background-color: @color-accent1;
    color: @color-accent2;
    margin-top: 70px;
    margin-bottom: 70px;
    p {
        font-size: 30px;
        line-height: 36px;
    }
}

.home-section2 {
    .home;
    background-color: @color-accent1;
    color: @color-accent2;
    p {
        font-size: 26px;
        line-height: 34px;
    }
}

.home-section3 {
    .home;
    background-color: @color-accent1;
    color: @color-accent2;
    margin-top: 60px;
    margin-bottom: 40px;
    p {
        font-size: 20px;
        line-height: 36px;
    }

    .book-ticket {
        font-size: 16px;
        border-radius: 25px;
        border: 1px solid #249cd7;
        color: #249cd7;
        background-color: #fff;
        min-width: 150px;
        max-width: 350px;
        display: block;
        margin: auto;
        margin-top: 30px;
    }
}

.home-section4 {
    .home;
    background-color: @color-accent2;

    h2, p {
        color: @color-accent1;
    }
}

.home-section5 {
    .home;

}

/* -----------------------------------------------------------------------------
    footer styles
----------------------------------------------------------------------------- */

.newsletter {
    input {
        font-size: 20px;
        border: none;
        border-bottom: 1px solid @color-accent2;
        color: @color-accent1;
        margin-top: 10px;
        text-align: center;
    }
}

@import 'modules/grid';
