/* -----------------------------------------------------------------------------
    base styles
----------------------------------------------------------------------------- */
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/globals';

html, body {
    .box-sizing();

    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    min-width: 100%;
}

*, *:after, *:before {
    box-sizing: inherit;
    font-family: inherit;
    line-height: inherit;
}

* {
    margin: 0;
    padding: 0;
}

.button {
    .border-radius(25px);
    border: 1px solid @color-accent2;
    color: @color-accent2;
    background-color: @color-accent1;
    min-width: 150px;
    font-size: 16px;
    line-height: 23px;
    button {
        margin: 24px 0;
    }
}

@import 'includes/messages';
@import 'includes/header';
@import 'includes/footer';

@import 'apps/home';
@import 'apps/about';
@import 'apps/sponsors';
@import 'apps/venue';

@import 'modules/grid';
