{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="col-3"></div>
        <div class="col-9">
            {% if sponsors.diamond %}
                <div class="sponsor-level">{% trans 'Diamond' %}</div>
                {% include 'sponsors/include/details.html' with sponsors=sponsors.diamond only %}
            {% endif %}
            {% if sponsors.gold %}
                <div class="sponsor-level">{% trans 'Gold' %}</div>
                {% include 'sponsors/include/details.html' with sponsors=sponsors.gold only %}
            {% endif %}
            {% if sponsors.silver %}
                <div class="sponsor-level">{% trans 'Silver' %}</div>
                {% include 'sponsors/include/details.html' with sponsors=sponsors.silver only %}
            {% endif %}
            {% if sponsors.bronze %}
                <div class="sponsor-level">{% trans 'Bronze' %}</div>
                {% include 'sponsors/include/details.html' with sponsors=sponsors.bronze only %}
            {% endif %}
        </div>
    </div>
{% endblock %}
