{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container sponsor-header">
        <div id="sponsor-header-shape1"></div>
        <div id="sponsor-header-shape2"></div>
        <div class="grid sponsor-header-text">
            <div>
                <div class="col-3"></div>
                <div class="col-3 sponsor-title">
                    {% trans "Our Sponsors" %}
                </div>
            </div>
            <div>
                <div class="col-5"></div>
                <div class="col-4 sponsor-intro">
                    {% trans 'We thank our fantastic sponsors who help make this event possible.' %}
                    <a id="sponsor-mailto" href="mailto:sponsorship@pycon.ca" target="_top">{% trans 'Get in touch' %}</a>
                    {% trans 'if your organization would like to support Pycon Canada 2015.' %}
                </div>
            </div>
        </div>
    </div>
    <div class="sponsors-list container">
        {% if sponsors.diamond %}
            <div class="grid">
                <div class="col-3"></div>
                <div class="col-9">
                    <div class="sponsor-level">
                        <div class="sponsor-level-name">{% trans 'Diamond' %}</div>
                        {% include 'sponsors/include/details.html' with sponsors=sponsors.diamond only %}
                    </div>
                </div>
            </div>
            <div class="sponsor-divider diamond-divider"></div>
        {% endif %}
        {% if sponsors.gold %}
            <div class="grid">
                <div class="col-3"></div>
                <div class="col-9">
                    <div class="sponsor-level">
                        <div class="sponsor-level-name">{% trans 'Gold' %}</div>
                        {% include 'sponsors/include/details.html' with sponsors=sponsors.gold only %}
                    </div>
                </div>
            </div>
            <div class="sponsor-divider gold-divider"></div>
        {% endif %}
        {% if sponsors.silver %}
            <div class="grid">
                <div class="col-3"></div>
                <div class="col-9">
                    <div class="sponsor-level">
                        <div class="sponsor-level-name">{% trans 'Silver' %}</div>
                        {% include 'sponsors/include/details.html' with sponsors=sponsors.silver only %}
                    </div>
                </div>
            </div>
            <div class="sponsor-divider silver-divider"></div>
        {% endif %}
        {% if sponsors.bronze %}
            <div class="grid">
                <div class="col-3"></div>
                <div class="col-9">
                    <div class="sponsor-level">
                        <div class="sponsor-level-name">{% trans 'Bronze' %}</div>
                        {% include 'sponsors/include/details.html' with sponsors=sponsors.bronze only %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
