{% load core %}
{% load i18n %}
{% load markup_tags %}

{% for sponsor in sponsors %}
    <div class="sponsor">
        <div class="col-3 sponsor-logo-col">
            {% if sponsor|i18n_get:'url_website' %}
                <a href="{{ sponsor|i18n_get:'url_website' }}" target="_blank">
                    <img class="logo" src="{{ sponsor.logo.url }}">
                </a>
            {% else %}
                <img class="logo" src="{{ sponsor.logo.url }}">
            {% endif %}
        </div>
        <div class="col-6">
            <div class="sponsor-name">{{ sponsor.name }}</div>
            <div class="url">
                {{ sponsor|i18n_get:'url_website'|urlize }}
            </div>
            {% if sponsor|i18n_get:'twitter' %}
                <div>
                    <a href="https://twitter.com/{{ sponsor|i18n_get:'twitter' }}" class="twitter-follow-button" data-show-count="false" target="_blank">Follow @{{ sponsor|i18n_get:'twitter' }}</a>
                </div>
            {% endif %}
            <div class="sponsor-description">
                {{ sponsor|i18n_get:'description'|apply_markup:"markdown" }}
            </div>
        </div>
    </div>
{% endfor %}
