{% load core %}

{% for sponsor in sponsors %}
    <div>
        <div class="col-3">
            <img class="sponsor-logo" src="{{ sponsor|i18n_get:'logo'|get:'url' }}">
        </div>
        <div class="col-6">
            <div class="sponsor-name">{{ sponsor|i18n_get:'name' }}</div>
            <div class="sponsor-url">
                {{ sponsor|i18n_get:'url_website'|urlize }}
            </div>
            <div class="sponsor-description">
                {{ sponsor|i18n_get:'description'|linebreaks }}
            </div>
        </div>
    </div>
{% endfor %}
