/* -----------------------------------------------------------------------------
    footer styles
----------------------------------------------------------------------------- */

.newsletter {
    input {
        font-size: 20px;
        border: none;
        border-bottom: 1px solid @color-accent2;
        color: @color-accent1;
        margin-top: 10px;
        text-align: center;
    }
}
