/* -----------------------------------------------------------------------------
    header styles
----------------------------------------------------------------------------- */

header {
    background-color: @color-accent1;

    #header-shape1 {
        position: absolute;
        top: 48px;
        left: 0;
        height: 85px;
        width: 128px;
        background: transparent url("/static/images/SnakeShape-01.svg") no-repeat;
        background-size: 163px 85px;
        background-position: -50px 0px;
    }

}

header > .container {
    padding-top: 0;
    padding-bottom: 0;
}

.nav {
    margin-top: 10px;
    text-align: center;
}

.header-link {
    font-size: 24px;
    padding: 0 2%;
    vertical-align: bottom;
    line-height: 60px;

    &:hover, &.active {
        color: @color-accent3;
    }
}

.header-logo {
    text-indent: -9999px;
    width: 234px;
    height: 98px;
    background-size: 234px 98px;
    background: url("/static/images/logo.png") no-repeat;
    display: inline-block;
    margin: 0 10% 0 10%;
}

.language-switch {
    .button;
    text-align: center;
    float: right;
}

.language-switch-container {
    margin: 24px 0;
}
