.sponsors-include {
    text-align: center;
    width: 58%;
    max-width: 788px;

    .sponsors-include-img {
        width: 11.4%;
        max-width: 120px;
        margin: 0 24px 24px 24px;
    }

    .sponsors-include-title {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 48px;
        color: @color-accent2;
    }
}

@media only screen and (max-width: 768px) {
    .sponsors-include {
        .sponsors-include-img {
            width: 41.4%;
        }
    }
}
