.sponsors-include {
    text-align: center;
    width: 58%;
    max-width: 788px;

    .sponsors-include-img {
        width: 30%;
        max-width: 200px;
        min-width: 120px;
        margin: 0 24px 24px 24px;
    }

    .sponsors-include-title {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 48px;
        color: @color-accent2;
    }
}

@media only screen and (max-width: @screen-max-width) {
    .sponsors-include {
        .sponsors-include-img {
            width: 50%;
        }
    }
}
