.about {

    #about-shape1 {
        position: absolute;
        right: 0;
        top: -35px;
        background: transparent url("/static/images/SnakeShape-11.svg") right center no-repeat;
        background-position: left center;
        width: 7%;
        height: 108px;
    }
    #about-shape2 {
        position: absolute;
        top: 80px;
        background: transparent url("/static/images/SnakeShape-10.svg") right center no-repeat;
        background-position: right center;
        width: 21%;
        height: 100px;
    }

    .about-section1 {
        margin-top: 70px;
        margin-bottom: 90px;
        position: relative;
        text-align: center;
        color: @color-accent2;
        p {
            color: @color-accent2;
            font-size: 30px;
            line-height: 36px;
        }
        .book-ticket {
            font-size: 16px;
            border-radius: 25px;
            border: 1px solid #249cd7;
            color: #249cd7;
            background-color: #fff;
            min-width: 150px;
            max-width: 350px;
            display: block;
            margin: auto;
            margin-top: 30px;
        }
    }

    #about-shape3 {
        position: absolute;
        right: 0;
        top: -35px;
        background: transparent url("/static/images/SnakeShape-11.svg") right center no-repeat;
        background-position: left center;
        width: 30%;
        height: 108px;
    }
    #about-shape4 {
        position: absolute;
        top: 200px;
        left: 0;
        background: transparent url("/static/images/SnakeShape-12.svg") right center no-repeat;
        background-position: right center;
        width: 39%;
        height: 120px;
    }

    .about-section2 {
        position: relative;
        padding: 0 27%;
        margin-bottom: 100px;
        color: @color-accent2;

        h3 {
            color: @color-accent2;
            margin-bottom: 23px;
        }

        .blurb-1 {
            display: block;
            margin-bottom: 60px;
        }

        .blurb-2 {
            float: right;
        }

    }
    .about-section2:after {
        content: "";
        display: table;
        clear: both;
    }
    .about-section3 {
        position: relative;
        padding: 0 20% 0 20%;
        h3 {
            color: @color-accent1;
        }
        background-color: @color-accent2;
        color: @color-accent1;
    }
    .about-section4 {
        position: relative;
        padding: 0 20% 0 20%;
        h3 {
            color: @color-accent2;
        }
        color: @color-accent2;
    }
}
