/* -----------------------------------------------------------------------------
    home styles
----------------------------------------------------------------------------- */

.home {
    text-align: center;

    #home-shape4 {
        position: absolute;
        top: 0px;
        background: transparent url("/static/images/SnakeShape-04.svg") right center no-repeat;
        background-size: 313px 97px;
        background-position: right center;

        width: 15%;
        height: 97px;

    }

    .home-social_container {
        position: relative;
    }

    .home-social {
        position: absolute;
        top: 0px;
        right: 3%;
        width: 100px;
    }

    #home-shape5 {
        position: absolute;
        right: 0;
        top: -35px;

        background: transparent url("/static/images/SnakeShape-05.svg") center center no-repeat;
        background-position: left center;

        width: 20%;
        height: 108px;
    }

}

.home-section1 {
    .home;
    background-color: @color-accent1;
    color: @color-accent2;
    margin-top: 70px;
    margin-bottom: 70px;
    p {
        font-size: 30px;
        line-height: 36px;
    }
}

.home-section2 {
    .home;
    background-color: @color-accent1;
    color: @color-accent2;
    p {
        font-size: 26px;
        line-height: 34px;
    }

    #home-shape3 {
        width: 1288px;
        height: 174px;
        background: transparent url("/static/images/SnakeShape-03.svg") center center no-repeat;
        background-size: 1288px 174px;
        background-position: left center;
    }

    .dates-box {
        position: relative;
        overflow: hidden;
        font-size: 26px;
        line-height: 34px;
        text-align: center;
        padding: 40px 0 0 0;
        margin: auto auto;
        min-width: 36.84%;
        height: 174px;
    }

    .dates-inner {
        position: relative;
        display: inline-block;
        margin: auto auto;
    }
}

.home-dates-shape {
    position: absolute;
    right: -130px;
    top: -35px;
}

.home-section3 {
    .home;
    position: relative;
    background-color: @color-accent1;
    color: @color-accent2;
    margin-top: 60px;
    margin-bottom: 40px;
    p {
        font-size: 20px;
        line-height: 36px;
    }

    .book-ticket {
        font-size: 16px;
        border-radius: 25px;
        border: 1px solid #249cd7;
        color: #249cd7;
        background-color: #fff;
        min-width: 150px;
        max-width: 350px;
        display: block;
        margin: auto;
        margin-top: 30px;
    }
}

.home-section4 {
    .home;
    background-color: @color-accent2;

    h2, p {
        color: @color-accent1;
    }
}

.home-section5 {
    .home;

}
